/* +++++++++ form +++++++++ */
form {
  display: block;
  width: 100%;
  height: auto;
  background: $secondary-color;
  color: $white;
  font-size: 1rem;
  // font-weight: $light;
  text-align: left;
  // margin: 30px;
  padding: 60px 80px;
  -webkit-box-shadow: 0 2px 15px 1px rgba(18,18,18, .3);
  -moz-box-shadow: 0 2px 15px 1px rgba(18,18,18,.3);
  box-shadow: 0 2px 15px 1px rgba(18,18,18,.3);
  // @media screen and (max-width: $screen-sm-min) {
  //   width: 100%;
  //   margin: 30px 0;
  // }
  input {
    width: 100%;
    height: 30px;
    display: block;
    background: $secondary-color;
    border: none;
    border-bottom: 1px solid $white;
    // padding-left: 4px;
    margin-bottom: 15px;
    // @media screen and (max-width: $screen-sm-min) {
    //   font-size: $h5-small-size;
    //   margin-bottom: 20px;
    // }
    &::placeholder {
      color: $white;
      font-size: .9rem;
      // margin-bottom: 2px;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $white;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $white;
    }
    &:focus, &:active, &:visited {
      color: $white;
    }
    &[type=textarea] {
      height: 55px;
      padding-bottom: 40px;
    }
  }

  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
  }

  a {
    background: $grey;
    color: $white !important;
    border: $white !important;
    margin-top: 20px;
  }
}
