/*
 ++++++ Grid ++++++
*/
#grid {
  height: auto;
  a {
    &:hover {
      color: $secondary-color;
    }
  }
  .thumb {
    display: block;
    position: relative;
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 20px 10px 0 10px;
    .thumb-image {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      .thumb-info {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($grey, 0.7);
        opacity: 0;
        @include easeInOut;
        .info-wrapper {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          text-align: center;
          h3 {
            padding-bottom: 10px;
          }
        }
        .details {
          position: absolute;
          bottom: -50px;
          left: 50%;
          transform: translate(-50%);
          transition: all 0.3s ease-in-out 0.2s;
          opacity: 0;
        }
      }
    }
    &:hover {
      .thumb-info {
        opacity: 1;
      }
      .details {
        bottom: 30px!important;
        opacity: 1!important;
      }
    }
  }
}
