// Menu Icon
.menu-btn {
  position: absolute;
  z-index: 99;
  right: 35px;
  top: 30px;
  cursor: pointer;
  @include easeInOut;
  .btn-line {
    width: 28px;
    height: 3px;
    margin:  0 0 5px 0;
    background: $white;
    @include easeInOut;
  }

  // rotate Into X with Menu Lines
  &.close {
    transform: rotate(180deg);
    .btn-line {
      &:nth-child(1) {
        margin:  0 0 -2px 0;
        transform: rotate(45deg) translate(2px, 1px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        margin:  0 0 0 0;
        transform: rotate(-45deg) translate(6px, -4px);
      }
    }
  }
}

// Menu Overlay
.menu {
  background: $grey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  opacity: 0.9;
  visibility: hidden;
  @include easeInOut;
  // slide in from top-right
  &.show {
    visibility: visible;
  }
  ul {
    position: absolute;
    top: 0;
    left: 50%;
    // width: 50%;
    transform: translateX(-50%);
    height: 100%;
    list-style: none;
    li {
      display: inline-block;
      text-align: center;
      // transform: translate3d(100%, -100%, 0);
      padding: 28px 24px;
      @include easeInOut;
      // slide in from right
      // &.show {
      //   transform: translate3d(0, 0, 0);
      // }
      .nav-link {
        position: relative;
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 3px;
        &:after {
          content: '';
          position: absolute;
          bottom: -12px;
          left: 50%;
          transform: translateX(-50%);
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: lighten($secondary-color, 10);
          opacity: 0;
        }
        &:hover {
          &:after {
            @include easeInOut;
            opacity: 1;
          }
        }
      }
    }
  }
}

// Delay each nav item slide by .1s
// @for $x from 1 through 4 {
//   .nav-item:nth-child(#{$x}) {
//     transition-delay: $x * 0.2s;
//   }
// }
